* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.section {
  display: flex;
  padding-left: 250px;
  padding-right: 250px;
  height: 500px;
  margin-bottom: 50px;
}

/* headers styles */

header {
  background-color: #1f2937;
  display: flex;
  justify-content: flex-end;
  padding-left: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 250px;
}

header div {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

header p {
  font-size: 24px;
  color: #f9faf8;
  padding: 0;
  margin: 0;
}

header div a {
  color: #e5e7eb;
  font-size: 18px;
  text-align: right;
  padding-right: 5px;
}

/* section 1 Hero, style */
#s1 {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 20px;
}

/* tex div */
#s1 div {
  flex: 0 1 auto;
}

/* hero main text */
#s1 div h1 {
  color: #f9faf8;
}

/* hero secondary text */
#s1 div p {
  color: #e5e7eb;
}

#s1 div button {
  background-color: #3882f6;
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 12px;
}

/* hero image */
#s1 img {
  flex: 0 1 25%;
}

/* s2 image collection section style */

#s2 {
  background-color: white;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

#s2 p:first-child {
  flex: 0 1 auto;
  font-size: 36px;
}

#s2 div {
  display: flex;
  justify-content: space-between;
}

.image_container {
  flex: 0 1 auto;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.image_container img {
  width: 200px;
  height: 200px;
  flex: 0 0 66%;
  border-style: solid;
  border-radius: 12px;
  border-color: #3882f6;
}

.image_container p {
  flex: 0 0 33%;
  font-size: 20px;
  color: gray;
}

/* section3 testimonal quote style */

#s3 {
  background-color: #e5e7eb;
  flex-direction: column;
  justify-content: center;
}

#s3 p:first-child {
  font-size: 36px;
  font-style: italic;
}

#s3 p:nth-child(2) {
  text-align: right;
}

/* section4 banner style */

#s4 {
  justify-content: center;
  align-items: center;
}

#banner {
  background-color: #3882f6;
  flex: 1 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 12px;
  color: white;
}

#banner button {
  flex: 0 0 auto;
  background-color: #3882f6;
  border-color: white;
  border-style: ridge;
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 12px;
}

/* footer style */
footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  padding-left: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 250px;
  margin: 0;
}
